<div class="login-box">
    <h2>Login to your account</h2>
    <form class="form-horizontal">
        <fieldset>

            <input class="input-large col-xs-12" ng-model="username" id="username" type="text" placeholder="type username"/>

            <input class="input-large col-xs-12" ng-model="password" id="password" type="password" placeholder="type password"/>

            <div class="clearfix"></div>

            <button class="btn btn-primary col-xs-12" ng-click="login(username, password)">Login</button>
        </fieldset>
    </form>
</div>