<div id="sidebar-left" class="col-lg-2 col-sm-1">
    <div class="nav-collapse sidebar-nav collapse navbar-collapse bs-navbar-collapse">
        <ul class="nav nav-tabs nav-stacked main-menu">
            <li><a href="#/home"><i class="fa fa-bar-chart-o"></i><span class="hidden-sm"> Dashboard</span></a></li>
            <li><a href="#/user"><i class="fa fa-users"></i><span class="hidden-sm"> Manage User</span></a></li>
            <li><a href="#/place"><i class="fa fa-map-marker"></i><span class="hidden-sm"> Manage Place</span></a></li>
            <li><a href="#/question"><i class="fa fa-question"></i><span class="hidden-sm"> Manage Question</span></a></li>
            <li><a href="#/answer"><i class="fa fa-comment-o"></i><span class="hidden-sm"> Manage Answer</span></a></li>
            <li><a href="#/report"><i class="fa fa-flag-o"></i><span class="hidden-sm"> Manage Report</span></a></li>
        </ul>
    </div>
</div>