<div id="content" class="col-lg-10 col-sm-11">
    <div class="row">
        <div class="col-lg-12">
            <div class="box">
                <div class="box-header">
                    <h2><i class="fa fa-edit"></i>Edit Place Information</h2>
                </div>
                <div class="box-content">
                    <form name="editform" class="form-horizontal">
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label">ID</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-tint"></i></span>
                                    <input class="form-control disabled" type="text" ng-model="place.id" disabled="">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Active</label>

                                <div class="controls">
                                    <div class="input-group col-sm-4">
                                        <label class="switch switch-primary">
                                            <input type="checkbox" ng-model="place.is_active" ng-value="true"
                                                   class="switch-input">
                                            <span data-off="No" data-on="Yes" class="switch-label"></span>
                                            <span class="switch-handle"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Title</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-pencil"></i></span>
                                    <input class="form-control focused" type="text" name="title" ng-model="place.title">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Description</label>

                                <div class="controls">
                                    <textarea rows="6" style="width:100%" ng-model="place.description" ng-bind-html="place.description"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label class="control-label">Thumbnail</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-picture-o"></i></span>
                                    <input class="form-control focused" type="text" name="thumbnail"
                                           ng-model="place.thumbnail">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-10">
                                <label class="control-label">Large Image</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-camera-retro"></i></span>
                                    <input class="form-control focused" type="text" name="thumbnail"
                                           ng-model="place.origin_image">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Street</label>

                                <div class="input-group">
                                    <span class="input-group-addon"><i class="fa fa-map-marker"></i></span>
                                    <input class="form-control focused" type="text" name="title" ng-model="place.street">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label">District</label>
                                <div class="controls">
                                    <select class="form-control chosen-container chosen-container-single" chosen
                                            data-placeholder="Choose a District"
                                            no-results-text="'Could not find any district!'"
                                            ng-model="place.district"
                                            ng-options="v.district for v in districts track by v.id">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-4">
                                <label class="control-label">City</label>
                                <div class="controls">
                                    <select chosen class="form-control"
                                            data-placeholder="Choose a City"
                                            no-results-text="'Could not find any city!'"
                                            ng-model="place.city"
                                            ng-options="v.city for v in cities track by v.id"
                                            ng-change="changeCity()">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Direction Guide</label>

                                <div class="controls">
                                    <textarea id="limit" rows="6" style="width:100%"
                                              ng-bind-html="place.direction_guide"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Cuisines</label>
                                <div class="controls">
                                    <select chosen multiple class="form-control chosen-container chosen-container-single"
                                            data-placeholder="Choose a cuisine type"
                                            no-results-text="'Could not find any cuisine type :('"
                                            ng-model="place.cuisines"
                                            ng-options="v.description for v in cuisines track by v.id">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Categories</label>
                                <div class="controls">
                                    <select chosen multiple class="form-control"
                                            data-placeholder="Choose a category"
                                            no-results-text="'Could not find any category :('"
                                            ng-model="place.categories"
                                            ng-options="v.description for v in categories track by v.id">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Purposes</label>
                                <div class="controls">
                                    <select chosen multiple class="form-control"
                                            data-placeholder="Choose a purpose type"
                                            no-results-text="'Could not find any purposes type :('"
                                            ng-model="place.purposes"
                                            ng-options="v.description for v in purposes track by v.id">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Properties</label>
                                <div class="controls">
                                    <select chosen multiple class="form-control"
                                            data-placeholder="Choose a property type"
                                            no-results-text="'Could not find any properties type :('"
                                            ng-model="place.properties"
                                            ng-options="v.description for v in properties track by v.id">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Dishes</label>
                                <div class="controls">
                                    <select chosen multiple class="form-control"
                                            data-placeholder="Choose a dish type"
                                            no-results-text="'Could not find any dishes type :('"
                                            ng-model="place.dishes"
                                            ng-options="v.description for v in dishes track by v.id">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Dinings</label>
                                <div class="controls">
                                    <select chosen multiple class="form-control"
                                            data-placeholder="Choose a dining type"
                                            no-results-text="'Could not find any dining type :('"
                                            ng-model="place.dinings"
                                            ng-options="v.description for v in dinings track by v.id">
                                    </select>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Day Off</label>

                                <div class="input-group col-sm-6">
                                    <span class="input-group-addon"><i class="fa fa-power-off"></i></span>
                                    <input class="form-control focused" type="text" name="title"
                                           ng-model="place.day_off">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Phone</label>

                                <div class="input-group col-sm-6">
                                    <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                                    <input class="form-control focused" type="text" name="title" ng-model="place.phone">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Open Time Range</label>

                                <div class="controls">
                                    <div class="input-group col-sm-6">
                                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                        <input type="text" class="form-control timepicker" ng-model="place.open_time">
                                        <span class="input-group-addon"><i class="fa fa-clock-o"></i></span>
                                        <input type="text" class="form-control timepicker" ng-model="place.close_time">
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Price Range</label>

                                <div class="input-group col-sm-6">
                                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                    <input type="number" class="form-control timepicker" ng-model="place.min_price">
                                    <span class="input-group-addon"><i class="fa fa-money"></i></span>
                                    <input type="number" class="form-control timepicker" ng-model="place.max_price">
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Sale Off?</label>

                                <div class="controls">
                                    <div class="input-group col-sm-4">
                                        <label class="switch switch-primary">
                                            <input type="checkbox" ng-model="place.is_sale_off" ng-value="true"
                                                   class="switch-input">
                                            <span data-off="No" data-on="Yes" class="switch-label"></span>
                                            <span class="switch-handle"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-8">
                                <label class="control-label">Has Park?</label>

                                <div class="controls">
                                    <div class="input-group col-sm-4">
                                        <label class="switch switch-primary">
                                            <input type="checkbox" ng-model="place.has_park" ng-value="true"
                                                   class="switch-input">
                                            <span data-off="No" data-on="Yes" class="switch-label"></span>
                                            <span class="switch-handle"></span>
                                        </label>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary"
                                    ng-click="updatePlace(place.id, editform.$dirty)">Save changes
                            </button>
                            <button class="btn" ng-click="cancel(editform.$dirty)">Cancel</button>
                        </div>
                    </form>

                </div>
            </div>
        </div>
    </div>
</div>